:root {
    --bg-colour: #f5f5f5;
    --button-colour: #b960ec;
    --button-colour-clicked: #c567fc;
    --text-colour: #353535;
    --text-colour-highscores: #c2bfbf;
    --button-text: #eaf3f1;
    --bg-container: #f5f5f5;
    --box-shadow: 0 0 20px #585656;
    --box-shadow-choice: 0 0 5px #da28e0;
}

body {
    background-color: var(--bg-colour);
    font-family: 'Poppins', sans-serif;
}

header {
    width: 70%;
    height: 100px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    color: var(--text-colour);
}

section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--bg-container);
    border-radius: 10px;
    padding: 1rem 2rem 0 2rem;
    margin-top: 10rem;
    box-shadow: var(--box-shadow);
}

#results {
    min-width: 20%;
}

section .button {
    margin: 1rem;
}

.button {
    background-color: var(--button-colour);
    color: var(--button-text);
    padding: 0.6rem;
    transition: 0.12s;
}

.button:active  {
    transform: scale(1.1);
    background-color: var(--button-colour-clicked);
}

.hide {
    display: none;
}

a {
    color: var(--text-colour-highscores);
    text-decoration: none;
}

a:hover {
    color: var(--text-colour);
}

#timer {
    color: var(--text-colour);
}

.choice {
    transition: 0.12s;
    border: 2px solid var(--text-colour);
    border-radius: 5px;
    padding: 0 3rem 0 3rem;
    margin: 1rem 0 1rem 0;
}

.choice:hover {
    box-shadow: var(--box-shadow-choice);
    transform: scale(1.2);
}

#response {
    font-size: 1.2rem;
    font-style: italic;
}